.youtrackDescription {
    img {
        display: block;

        margin-top: 12px;

        max-width: 100%;
    }
}

.versionReleaseDate {
    font-style: italic;
}

.tagBreakingChange {
    padding: 2px 4px;

    border-radius: 2px;

    white-space: nowrap;

    background-color: var(--wt-color-error);
}
